PUBLIC_DATA_PORTAL_SERVICE_KEY=
KTO_KOR_SERVICE_DOC_URL=https://www.data.go.kr/data/15101578/openapi.do
KTO_KOR_SERVICE_ENDPOINT=https://apis.data.go.kr/B551011/KorService2
KTO_DATALAB_SERVICE_DOC_URL=https://www.data.go.kr/data/15101972/openapi.do
KTO_DATALAB_SERVICE_ENDPOINT=https://apis.data.go.kr/B551011/DataLabService
